body{background-color: black;}

.colorFondoCentradoTexto{
    background-color: black;
    text-align: center;
    color: #FFFF;
}

.colorAreaFontAwesome{
background-color: aqua;
}

.lineaBlocke{
    display: inline-block;
    text-align: center;
}

#largoTarjetas div img{
height: 75%;
}
.anchoContenedorTarjetas{
    width: 100%;
}
.textoh4Formulario{
    text-align: left;
    margin-left: 1%;
    font-size: 1rem;
}